
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}



section#checkout {
    background-color: white;
    height: 100%;
    max-height: 100vh;

    input[type="radio"] {
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 15px;
        background-color: white;
        border: 1px solid #CCA43B;

        &:checked {
            background-color: #CCA43B;
        }
    }

    .img__wrapper {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #checkout-logo {
        max-width: 150px;
        height: auto;
    }

    .container {
        max-width: 100%;
        display: flex;
        padding-left: 20px;
        height: 100%;
    }

    .stages,
    .order {
        padding: 20px 0px;
        padding-right: 20px;
        flex-basis: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

   

    .stages {
        padding: 0;
        display: flex;
        height: 100%;
        align-items: center;

        &__wrapper {
            max-width: 465px;
            height: 100%;
            width: 100%;
            padding: 80px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__content {
            margin: 45px 0px;
            padding: 0 10px;

            &_success {
                display: flex;
                flex-direction: column;
                align-items: center;

                .stages__forward {
                    margin-top: 50px;
                }
            }

            &_payment {
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 2px;
                    background: rgb(196, 196, 196);
                }

                &::-webkit-scrollbar-thumb {
                    background: #c7b382;
                }
            }

        }

        &__card {
            margin-top: 25px;
            border: 1px solid rgb(229, 229, 229);
            border-radius: 10px;

            &-top {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                height: 58px;
                background: linear-gradient(92.34deg, rgba(204, 164, 59, 0.2) 0.042%, rgba(204, 164, 59, 0.4) 97.949%);
                padding: 0 20px;
                display: flex;
                align-items: center;
                gap: 20px;
                color: rgb(204, 164, 59);
                font-size: 16px;
                font-weight: 700;
                line-height: 15.6px;
            }

            &-inputs {
                padding: 25px 18px;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

        &__payment-method {
            margin-top: 40px;
        }

        &__tax {
            margin-top: 40px;

            &-inputs {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

        &__billing {
            margin-top: 40px;

            .stages__fancybox {
                margin-top: 25px;
            }
        }

        &__contact {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;

            &-row {
                display: flex;
                justify-content: space-between;
            }
        }

        &__checkbox-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__acount-check {
            display: flex;
            gap: 15px;

            p.order__text:nth-child(2) {
                cursor: pointer;
                color: #CCA43B;
            }
        }

        &__bottom {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__address {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__back {
            color: #CCA43B;
            font-size: 18px;
        }

        &__forward {
            cursor: pointer;
            padding: 10px 44px;
            border-radius: 4px;
            background: rgb(204, 164, 59);
            font-size: 20.65px;
            font-weight: 500;
            line-height: 24px;
            color: white;
            outline: none;
            border: none;
        }

        &__2input {
            display: flex;
            gap: 15px;
        }

        &__2input>* {
            flex-basis: 50%;
        }

        &__title {
            margin-top: 15px;
            color: rgb(39, 39, 39);
            font-size: 26px;
            font-weight: 500;
        }

        &-orderId {
            margin-top: 15px;
            color: rgb(204, 164, 59);
            font-size: 14px;
            font-weight: 400;
            line-height: 15.6px;
        }

        &__descr {
            margin-top: 15px;
            text-align: center;
            color: rgb(129, 129, 129);
            font-size: 16px;
            font-weight: 400;
            line-height: 15.6px;
        }

        &__text {
            font-size: 14px;
            font-weight: 400;
            line-height: 15.6px;
        }

        &__edit {
            color: #CCA43B;
            font-size: 14px;
            font-weight: 400;
            line-height: 15.6px;
        }

        &__fancybox {
            padding: 0px 16px;
            border: 1px solid #c7bda5;
            border-radius: 8px;

            &-radio {
                padding: 20px 0px;
                display: flex;
                align-items: center;
                gap: 20px;

                label {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size: 14px;
                    font-weight: 400;
                    // line-height: 15.6px;
                    height: 100%;

                    p:nth-child(2) {
                        font-weight: 700;
                    }
                }
            }

            &-item {
                padding: 20px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #c7b382;

                &:last-child {
                    border: none;
                }

                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }

            &-descr {
                color: rgb(129, 129, 129);
                font-size: 14px;
                font-weight: 400;
                line-height: 15.6px;
            }
        }

        &__shipping-method {
            margin-top: 40px;

            .stages__fancybox {
                margin-top: 20px;
            }
        }

        &__checkbox {
            appearance: none;
            width: 16px;
            height: 16px;
            border: 2px solid rgb(183, 183, 183);

            &:checked {
                border: 2px solid #CCA43B;
                background-color: #CCA43B;
            }
        }

        

        &__sub {
            color: rgb(39, 39, 39);
            font-size: 20px;
            font-weight: 500;
            line-height: 25.6px;
        }

        &__navigation {
            display: flex;
            gap: 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 25.6px;

            p {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 50%;
                    translate: 0% -40%;
                    right: -18px;
                    width: 10px;
                    height: 10px;
                    background-image: url("../assets/arrow-right.svg");
                    background-repeat: no-repeat;
                }

                &:last-child::after {
                    display: none;
                }
            }

            &_completed {
                color: #CCA43B;
            }

            &_current {
                color: #272727;
            }

            &_future {
                color: #616161;
            }
        }
    }

    .order {
        padding-top: 50px;
        padding-left: 65px;

        background-color: #F2F2F2;
        justify-content: center;
        align-items: flex-start;

        &__content {
            max-width: 410px;
            width: 100%;

        }

        &__coupon {
            padding: 30px 0px;
            border-bottom: 1px solid rgb(119, 119, 119);

            display: flex;
            align-items: center;
            gap: 5px;

            &-input {
                width: 100%;
                padding: 5px 15px;
                border: 0.5px solid rgb(137, 137, 137);
                background: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 25.6px;

                &:focus {
                    outline: none;
                    border: 0.5px solid rgb(204, 164, 59);
                }
            }

            &-addBtn {
                width: 150px;
                height: 40px;
                padding: 7px 20px;
                border-radius: 4px;
                background: rgb(168, 168, 168);
                color: rgb(255, 255, 255);
                font-size: 17.65px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0px;
                border: none;
                outline: none;
            }
        }

        &__data {
            padding: 15px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        &__text {
            color: rgb(97, 97, 97);
            font-size: 14px;
            font-weight: 500;
            line-height: 25.6px;
        }

        &__bold {
            color: rgb(39, 39, 39);
            font-size: 14px;
            font-weight: 500;
            line-height: 25.6px;
        }

        &__total {
            padding: 15px 0px;
            border-top: 1px solid rgb(119, 119, 119);
            display: flex;
            justify-content: space-between;

            .order__bold {
                font-size: 24px;
            }
        }
    }

}

@media (max-width: 1150px) {
    section#checkout {
        max-height: 100%;
        .container {
            flex-direction: column;
            padding: 0;
        }
        .stages, .order {
            height: auto;
            // flex-basis: ;
        }
        .stages {
            &__navigation {
                padding: 0 15px;
            }
            &__wrapper {
                padding-bottom: 40px;
            }

            &__content {
                &_payment {
                    overflow-y: visible;
                }
            }
        }
        .order {
            background-color: white;
            padding: 0px 10px;
            padding-bottom: 45px;
            align-items: center;
        }

        &:not(.show-checkoutTotal-mob) {
            .order {
                display: none;
            }
        }
    }
}

@media (max-width: 525px) {
    .stages__bottom {
        flex-direction: column;
        gap: 10px;
    }
    .order__coupon {
        flex-direction: column;
    }
    .order__coupon-addBtn {
        width: 100%!important;
    }
}