* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

section#checkout {
  background-color: white;
  min-height: 100vh;
}
section#checkout input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 15px;
  background-color: white;
  border: 1px solid #CCA43B;
}
section#checkout input[type=radio]:checked {
  background-color: #CCA43B;
}
section#checkout .img__wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}
section#checkout #checkout-logo {
  max-width: 150px;
  height: auto;
}
section#checkout .container {
  max-width: 100%;
  display: flex;
  padding-left: 20px;
  min-height: 100vh;
}
section#checkout .stages,
section#checkout .order {
  min-height: 100vh;
  padding: 20px 0px;
  padding-right: 20px;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
section#checkout .order__items {
  pointer-events: auto;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
section#checkout .order__items::-webkit-scrollbar {
  height: 5px;
  background-color: #b8b8b8;
}
section#checkout .order__items::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}
section#checkout .order__items::-webkit-scrollbar-button {
  background-color: #c7b382;
  width: 2px;
}
section#checkout .order__item {
  width: 100px;
}
section#checkout button.stages__forward:disabled {
  opacity: 0.5;
}
section#checkout .stages {
  padding: 0;
  display: flex;
  align-items: center;
}
section#checkout .stages__wrapper {
  max-width: 465px;
  height: 100%;
  width: 100%;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#checkout .stages__content {
  margin: 45px 0px;
  padding: 0 10px;
}
section#checkout .stages__content_success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#checkout .stages__content_success .stages__forward {
  margin-top: 50px;
}
section#checkout .stages__content_payment::-webkit-scrollbar {
  width: 2px;
  background: rgb(196, 196, 196);
}
section#checkout .stages__content_payment::-webkit-scrollbar-thumb {
  background: #c7b382;
}
section#checkout .stages__card {
  margin-top: 25px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
}
section#checkout .stages__card-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 58px;
  background: linear-gradient(92.34deg, rgba(204, 164, 59, 0.2) 0.042%, rgba(204, 164, 59, 0.4) 97.949%);
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(204, 164, 59);
  font-size: 16px;
  font-weight: 700;
  line-height: 15.6px;
}
section#checkout .stages__card-inputs {
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section#checkout .stages__payment-method {
  margin-top: 40px;
}
section#checkout .stages__tax {
  margin-top: 40px;
}
section#checkout .stages__tax-inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section#checkout .stages__billing {
  margin-top: 40px;
}
section#checkout .stages__billing .stages__fancybox {
  margin-top: 25px;
}
section#checkout .stages__contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
section#checkout .stages__contact-row {
  display: flex;
  justify-content: space-between;
}
section#checkout .stages__checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
section#checkout .stages__acount-check {
  display: flex;
  gap: 15px;
}
section#checkout .stages__acount-check p.order__text:nth-child(2) {
  cursor: pointer;
  color: #CCA43B;
}
section#checkout .stages__bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#checkout .stages__address {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section#checkout .stages__back {
  color: #CCA43B;
  font-size: 18px;
}
section#checkout .stages__forward {
  cursor: pointer;
  padding: 10px 44px;
  border-radius: 4px;
  background: rgb(204, 164, 59);
  font-size: 20.65px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  outline: none;
  border: none;
}
section#checkout .stages__2input {
  display: flex;
  gap: 15px;
}
section#checkout .stages__2input > * {
  flex-basis: 50%;
}
section#checkout .stages__title {
  margin-top: 15px;
  color: rgb(39, 39, 39);
  font-size: 26px;
  font-weight: 500;
}
section#checkout .stages-orderId {
  margin-top: 15px;
  color: rgb(204, 164, 59);
  font-size: 14px;
  font-weight: 400;
  line-height: 15.6px;
}
section#checkout .stages__descr {
  margin-top: 15px;
  text-align: center;
  color: rgb(129, 129, 129);
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}
section#checkout .stages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.6px;
}
section#checkout .stages__edit {
  color: #CCA43B;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.6px;
}
section#checkout .stages__fancybox {
  padding: 0px 16px;
  border: 1px solid #c7bda5;
  border-radius: 8px;
}
section#checkout .stages__fancybox-radio {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
section#checkout .stages__fancybox-radio label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
}
section#checkout .stages__fancybox-radio label p:nth-child(2) {
  font-weight: 700;
}
section#checkout .stages__fancybox-item {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c7b382;
}
section#checkout .stages__fancybox-item:last-child {
  border: none;
}
section#checkout .stages__fancybox-item div {
  display: flex;
  gap: 10px;
  align-items: center;
}
section#checkout .stages__fancybox-descr {
  color: rgb(129, 129, 129);
  font-size: 14px;
  font-weight: 400;
  line-height: 15.6px;
}
section#checkout .stages__shipping-method {
  margin-top: 40px;
}
section#checkout .stages__shipping-method .stages__fancybox {
  margin-top: 20px;
}
section#checkout .stages__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(183, 183, 183);
}
section#checkout .stages__checkbox:checked {
  border: 2px solid #CCA43B;
  background-color: #CCA43B;
}
section#checkout .stages__input {
  width: 100%;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.6px;
  border: 0.5px solid rgb(137, 137, 137);
  transition: 0.2s ease-in-out, border 0s;
}
section#checkout .stages__input[data-validated=true] {
  border: 0.5px solid #CCA43B;
  border-right: 3px solid #CCA43B;
  color: #CCA43B;
}
section#checkout .stages__input[data-validated=true]:hover {
  box-shadow: 2px 1px 0px 1px #CCA43B;
}
section#checkout .stages__input[data-validated=true]:focus {
  border: 1px solid #CCA43B;
}
section#checkout .stages__input[data-validated=false] {
  border: 0.5px solid #aa2e0f;
  border-right: 3px solid #aa2e0f;
  color: #aa2e0f;
}
section#checkout .stages__input[data-validated=false]:hover {
  box-shadow: 2px 1px 0px 1px #aa2e0f;
}
section#checkout .stages__input[data-validated=false]:focus {
  border: 1px solid #aa2e0f;
}
section#checkout .stages__input:focus {
  outline: none;
}
section#checkout .stages__input:hover {
  box-shadow: 2px 2px 0px 1px rgb(137, 137, 137);
}
section#checkout .stages__input-wrapper:has(input[required]) {
  position: relative;
}
section#checkout .stages__input-wrapper:has(input[required])::before {
  content: attr(data-message);
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 4px;
  right: 8px;
  width: 6px;
  height: 6px;
  font-size: 0px;
  transform: rotate(-90deg);
  transition: width 0s ease-in-out, height 0s ease-in-out, background 0 linear, color 0s;
}
section#checkout .stages__input-wrapper:has(input[required]):hover::before {
  color: rgb(255, 255, 255);
  transform: rotate(0deg);
  width: 100px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, color 0.5s;
}
section#checkout .stages__input-wrapper:has(input[data-untouched=true])::before {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, rgb(137, 137, 137) 50%, rgb(137, 137, 137) 100%);
}
section#checkout .stages__input-wrapper:has(input[data-untouched=true]):hover::before {
  background: rgb(137, 137, 137);
  font-size: 12px;
}
section#checkout .stages__input-wrapper:has(input[data-validated=false])::before {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #aa2e0f 50%, #aa2e0f 100%);
}
section#checkout .stages__input-wrapper:has(input[data-validated=false]):hover::before {
  background: #aa2e0f;
  font-size: 12px;
}
section#checkout .stages__input-wrapper:has(input[data-validated=true])::before {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #CCA43B 50%, #CCA43B 100%);
}
section#checkout .stages__input-wrapper:has(input[data-validated=true]):hover::before {
  width: 6px;
  height: 6px;
  transform: rotate(-90deg);
  border-radius: 0px;
  transition: width 0s, height 0s;
}
section#checkout .stages__sub {
  color: rgb(39, 39, 39);
  font-size: 20px;
  font-weight: 500;
  line-height: 25.6px;
}
section#checkout .stages__navigation {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}
section#checkout .stages__navigation a {
  text-decoration: none;
}
section#checkout .stages__navigation p {
  position: relative;
}
section#checkout .stages__navigation p:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  translate: 0% -40%;
  right: -18px;
  width: 10px;
  height: 10px;
  background-image: url("../assets/arrow-right.svg");
  background-repeat: no-repeat;
}
section#checkout .stages__navigation p:last-child::after {
  display: none;
}
section#checkout .stages__navigation_completed {
  color: #CCA43B;
}
section#checkout .stages__navigation_current {
  color: #272727;
}
section#checkout .stages__navigation_future {
  color: #616161;
}
section#checkout .order {
  padding-top: 50px;
  padding-left: 65px;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: flex-start;
}
section#checkout .order__content {
  max-width: 410px;
  width: 100%;
}
section#checkout .order__coupon {
  padding: 30px 0px;
  border-bottom: 1px solid rgb(119, 119, 119);
  display: flex;
  align-items: center;
  gap: 5px;
}
section#checkout .order__coupon-input {
  width: 100%;
  padding: 5px 15px;
  border: 0.5px solid rgb(137, 137, 137);
  background: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.6px;
}
section#checkout .order__coupon-input:focus {
  outline: none;
  border: 0.5px solid rgb(204, 164, 59);
}
section#checkout .order__coupon-addBtn {
  width: 150px;
  height: 40px;
  padding: 7px 20px;
  border-radius: 4px;
  background: rgb(168, 168, 168);
  color: rgb(255, 255, 255);
  font-size: 17.65px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  border: none;
  outline: none;
}
section#checkout .order__data {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section#checkout .order__data div {
  display: flex;
  justify-content: space-between;
}
section#checkout .order__text {
  color: rgb(97, 97, 97);
  font-size: 14px;
  font-weight: 500;
  line-height: 25.6px;
}
section#checkout .order__bold {
  color: rgb(39, 39, 39);
  font-size: 14px;
  font-weight: 500;
  line-height: 25.6px;
}
section#checkout .order__total {
  padding: 15px 0px;
  border-top: 1px solid rgb(119, 119, 119);
  display: flex;
  justify-content: space-between;
}
section#checkout .order__total .order__bold {
  font-size: 24px;
}

@media (max-width: 1150px) {
  section#checkout {
    max-height: 100%;
  }
  section#checkout .container {
    flex-direction: column;
    padding: 0;
  }
  section#checkout .stages,
  section#checkout .order {
    height: auto;
  }
  section#checkout .stages__navigation {
    padding: 0 15px;
  }
  section#checkout .stages__wrapper {
    padding-bottom: 40px;
  }
  section#checkout .stages__content_payment {
    overflow-y: visible;
  }
  section#checkout .order {
    background-color: white;
    padding: 0px 10px;
    padding-bottom: 45px;
    align-items: center;
  }
  section#checkout:not(.show-checkoutTotal-mob) .order {
    display: none;
  }
}
@media (max-width: 525px) {
  .stages__bottom {
    flex-direction: column;
    gap: 10px;
  }
  .order__coupon {
    flex-direction: column;
  }
  .order__coupon-addBtn {
    width: 100% !important;
  }
}