
.about .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__head p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.about__wrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  gap: 10px;

.deals-collapsible {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  

  .deals-active, .deals-collapsible:hover {
    background-color: #CCA43B;
  }

  .deals-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
  } 

  .deals-collapsible:after {
    content: "\02795";
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .deals-active:after {
    content: "\2796";
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }