
.deals-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deals-wrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deals-collapsible,
.deals-content {
  width: 100%;
}

.deals-collapsible {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  

.deals-active, .deals-collapsible:hover {
    background-color: #CCA43B;
}

.deals-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
} 

.deals-row {
  display: flex;
  flex-direction: row;
}
  
.deals-column {
  flex: 50%;
  margin: 2vh;
}

.vl {
  border-left: 2px solid #CCA43B;
  height: auto;
  top: 0;
}

  .deals-collapsible:after {
    content: "\02795";
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
  }
  
  .deals-active:after {
    content: "\2796";
  }

<<<<<<< HEAD
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    position: relative;
    margin-bottom: 15px;
  }
  li::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
  li p {
    margin-left: 30px;
  }
  li p:first-child {
    font-weight: bold;
=======
  .deal-list {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
>>>>>>> 6423e95c5a0b0a0b18f22eda590a2d94bcdcbf98
  }

.deals-closer {
  margin-top: 45px;
  text-align: center;
}

@media screen and (min-width: 275px) and (max-width: 768px) {
  .deals-container p {
    padding: 12px; 
  }
  .deals-row {
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .inner-box {
        width: 80%;
    }
}