/* Commmon classes for re-use */

.accent-btn {
    background-color: rgb(204, 164, 59)!important;
    border: 1px solid transparent!important;
    transition: .15s ease-in-out!important;
}

.accent-btn:hover {
    border: 1px solid rgb(204, 164, 59)!important;
    background-color: transparent!important;
    color: rgb(204, 164, 59)!important;
}

.underline {
    cursor: pointer;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    translate: -50% 0%;
    width: 0%;
    height: 1px;
    background-color: rgb(204, 164, 59);
    transition: width .2s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}

/* Amount toggler */

.amountToggler {
    cursor: pointer;
    border: 1px solid rgb(204, 164, 59);
    padding: 0px 5px;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */

    transition: .2s ease-in-out;
}

.amountToggler:hover {
    box-shadow: inset 0px 0px 0px 1px rgb(204, 164, 59);
}


.amountToggler > *{
    flex-basis: 100%;
}

.amountToggler p {
    text-align: center;
}

.amountToggler #amountToggler-minus, #amountToggler-plus {
    color: rgb(204, 164, 59);
}

.amountToggler #amountToggler-minus:disabled, #amountToggler:disabled  {
    color: black;
}

.amountToggler button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

/* Swiper js  */

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 16px;
    color: rgb(204, 164, 59);
    font-weight: 700;
}

.swiper-button-prev, .swiper-button-next {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgb(204, 164, 59);
    translate: 0% 50%;

    transition: .2s ease-in-out;
    
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    /* background: transparent; */
    background-color: rgba(255, 255, 255, .8);
}   

/* Inputs */

.stages__input {
    width: 100%;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.6px;
    border: 0.5px solid rgb(137, 137, 137);

    
}

.stages__input:focus {
    border: 1px solid #CCA43B;
    outline: none;
}

.isHidden {
    display: none;
}