/* Commmon classes for re-use */

.accent-btn {
    background-color: rgb(204, 164, 59)!important;
    border: 1px solid transparent!important;
    transition: .15s ease-in-out!important;
}

.accent-btn:hover {
    border: 1px solid rgb(204, 164, 59)!important;
    background-color: transparent!important;
    color: rgb(204, 164, 59)!important;
}

.underline {
    cursor: pointer;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    translate: -50% 0%;
    width: 0%;
    height: 1px;
    background-color: rgb(204, 164, 59);
    transition: width .2s ease-in-out;
}

.underline:hover::after {
    width: 100%;
}