* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 10px;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
}

.icons button {
    background: none;
    border: none;
    padding: 0 10px;
}

.icons img {
    height: 30px;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 2px;
    background: black;
    border-radius: 10px;
}

.btn {
    width: 33px;
}

.nav-active {
    display: flex !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-9px, 3px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-10px, -4px);
}

.nav-item {
    transition: 0.5s;
}

.nav-item:hover {
    color: #CCA43B;
    text-decoration: underline #CCA43B 2px;
    transition: 0.5s;
}

.nav-links a.active {
    color: #CCA43B;
}

.cart-active {
    border: 2px solid #CCA43B;
}

.profile-active {
    border: 2px solid #CCA43B;
}

.nav-dropdown {
    float: left;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }
  
  .nav-dropdown .nav-dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 18px;
    padding: 0 20px;

  }
  
  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 5vh;
        left: -17px;
        background: white;
        z-index: 20;
    }
    
    .icons {
        margin-left: auto;
        margin-right: 15px;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
        width: 100%;
    }
    
    .burger {
        display: flex;
    }
}

@media screen and (min-width: 275px) and (max-width: 768px) {
    .nav-dropbtn {
        margin-top: 10px;
     }
    .nav-dropdown-content {
        align-items: center;
        position: relative;
    }
}