@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
}

.pdp__product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 10px;
}

.pdp__content {
    padding: 60px 0px;
    height: calc(100vh - 6vh);

    display: flex;
    align-items: center;
}

.pdp__content .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.pdp__slider {
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pdp__slider .pdp__slider-wrapper {
    max-width: 400px;
    width: 100%;
}

.pdp__slider .swiper-slide img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.pdp__details {
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pdp__amount {
    display: flex;
    gap: 20px;
}



.cart-btn {
    margin-top: 20px;
}

.pr-price {
    color: #CCA43B;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.headline {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}  
.shipping {
    color: #CCA43B;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}  

label {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    padding: 10px 6px 10px 16px;
}
  
.description {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    padding: 10px 6px;
}

.subscr-details {
    font-size: 15px;
    color: #818181;
}

select {
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #E7E7E7;
    padding: 2px 6px;
}

.quantity {
    font-size: 18px;
}

.enhanced-radio {
    position: relative;
    margin-bottom: 10px;
}

.radio {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.radio-look {  
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #CCA43B;
    border-radius: 50%;
    position: relative;
}

.radio-look:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border: 1px solid #CCA43B;
    border-radius: 50%;
}

.radio:checked + .radio-look:after {
    background: #CCA43B;
}

@media (max-width: 900px) {
    .pdp__content {
        height: auto;
    }
    .pdp__content .container {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }   
    .pdp__content p, .pdp__content h1, .pdp__content label {
        text-align: center;
    }
    .pdp__amount {
        justify-content: center;
    }
    .pdp__addAddToCart form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pdp__content .subscr-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pdp__content .subsrc-radio {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .pdp__slider {
        max-width: 320px;
    }

    .pdp__slider-wrapper.swiper {
        max-width: 320px;
    }
}