@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    width: auto;
}

h1 {
    font-family: Poppins, Inter;
    font-size: 40px;
    font-weight: 500;
    text-align: center;

}

h2 {
    font-family: Poppins, Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10vh;
    text-align: center;
}

.pr-search {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    padding: 8px 20px;
    margin-bottom: 4vh;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .pr-search {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      border: 1px solid #ccc;
    
  }
}
 
.pr-main-wrapper {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.pr-container {
    margin: 0 auto;
    padding: 0 16px;
}

.pr-item {
    font-family: Poppins, Inter;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}