section.profile {
  min-height: 94vh;
  padding: 60px 0px;
}
section.profile .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 20px;
  height: 100%;
}

.profile__title {
  font-size: 26px;
  font-weight: 500;
  line-height: 57.6px;
}
.profile__sub {
  font-size: 18px;
  font-weight: 500;
}
.profile__toggle {
  margin-top: 40px;
  color: rgb(204, 164, 59);
}
.profile__login {
  margin-top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile__login .accent-btn {
  font-size: 18px;
  padding: 5px 15px;
}
.profile__logged {
  display: flex;
  flex-direction: column;
}
.profile__logged .underline {
  margin-top: 0 auto;
  color: #CCA43B;
}
.profile__logged-wrapper {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__logged-wrapper p:nth-child(1) {
  text-align: center;
}
.profile__orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile__card {
  cursor: pointer;
  width: 100%;
  display: flex;
  max-width: 700px;
  border-radius: 10px;
  border: 1px solid #CCA43B;
  padding: 15px;
  gap: 20px;
  transition: 0.2s ease-in-out;
}
.profile__card-col:nth-child(1) {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}
.profile__card-col:nth-child(2) {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__card:hover {
  box-shadow: 2px 2px 0px 1px #CCA43B;
}
.profile__thumbs {
  display: flex;
  background-color: bisque;
  width: 100%;
  aspect-ratio: 1;
}
.profile__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile__items p {
  display: flex;
  justify-content: space-between;
}
.profile__total {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 18px;
}
.profile__form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 194px;
}