* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../media/menu_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    box-shadow: rgb(185, 185, 185) 0 0 15px;
}

.inner-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 50%;
    width: 53%;
    color: black;
    background-color: rgba(233, 231, 231, 0.89); 
    box-shadow: rgb(128, 128, 128) 0 0 15px;
}

.yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 164, 59, 1);
    height: 10%;
    width: 30%;
    color: white;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

.yellow-box:hover {
    background-color: rgb(221, 179, 72);
}

/* products part */


.products-background {
    height: 150px;
}

.products {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.products p {
    color: rgba(94, 110, 137, 1);
}

.listing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 6em;
    row-gap: 1.5em;
      
}

@media (max-width: 800px) {
    .listing-section {
      flex-direction: column;
    }
  }

.store-product {
    /* border: 5px solid black; */
    height: 16rem;
    width: 15%;
    margin: 10px;
    box-shadow: rgb(199, 198, 198) 0 0 15px;
  }

.image-box {
    width: auto;
    overflow: hidden;
    border-radius: 2% 2% 0 0;
    /* border: 5px solid rgb(153, 105, 105); */
  }

.images {
    height: 11em;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2% 2% 0 0;
    
  }

.product-desc {
    /* border: 5px solid orange; */
    height: 24%;
}

.product-desc h2 {
    text-align: left;
    margin-top: 4%;
    margin-left: 8%;
    font-size: 20px;
}

.product-desc h3 {
    text-align: right;
    margin-right: 7%;
    margin-bottom: 5%;
    color: rgba(204, 164, 59, 1);
    font-size: 20px;
    padding: 0.2em;
}

.pr-item {
    
}

/* exclusive deals part */


.deals-box {
    display: flex;
    column-gap: 1%;
    height: 40em;
    border: 3px solid black;
}

.deals-left{
    width: 35em;
    height: 30em;
    margin: 8em 4em 8em 16em;
    border: 3px solid chartreuse;
}

.deals-heading {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 3px solid orange;
    height: 11em;
    text-align: left;

}

.deals-heading h2 {
    text-align: left;
    font-size: 40px;
}

.deals-heading p {
    font-size: 16px;
    color: rgba(204, 164, 59, 1);
}

.deals-list{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    
}

.deals-list ul li {
    list-style: none;
    margin-bottom: 1em;
    padding-top: 5px;
}

.deals-list ul li img {
    width: 1.2em;
    height: 1.2em;
}

.deals-btn {
    border: 3px solid violet;
    width: 20em;
    height: 3em;
}

.deals-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 164, 59, 1);
    height: 70%;
    width: 50%;
    color: white;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.deals-right{
    margin: 8em;
    width: 40em;
    height: 20em;
    border: 3px solid blue;
    background-image: url(../media/Deals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* .deals-offers {
    display: flex;
    border: 3px solid black;
    height: 40em;
    justify-content: center;
    flex-direction: row;
} */







/* images for item listing */
#image-1 {background-image: url("../media/candle1.png");}
#image-2 {background-image: url("../media/candle2.png");}
#image-3 {background-image: url("../media/candle3.png");}
#image-4 {background-image: url("../media/candle4.png");}
#image-5 {background-image: url("../media/candle5.png");}
#image-6 {background-image: url("../media/candle6.png");}
#image-7 {background-image: url("../media/candle7.png");}
#image-8 {background-image: url("../media/candle8.png");}





/* /MOBILE / */

@media screen and (min-width: 275px)  {
    .inner-box p {
        max-width: 400px;
        text-align: center;
        line-height: 2;
        font-size: 13px;
    }

    .inner-box h1 {
        max-width: 400px;
        text-align: center;
        line-height: 1.5;
    }

}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .inner-box h1 {
        font-size: 24px;
    }

    .yellow-box {
        width: 64%;
    } 

    .inner-box {
        width: 80%;
    }
}

@media screen and (min-width: 275px) and (max-width: 399px) {
    .inner-box h1 {
        font-size: 20px;
    }

    .yellow-box {
        width: 80%;
    }

    .inner-box {
        width: 80%;
    }
}


/* / TABS / */

@media screen and (min-width:275px) and (max-width:900) {
    .yellow-box {
        width: 64%;
    }

    .inner-box {
        width: 80%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .inner-box {
        width: 80%;
    }
}
/* / DESC */