* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../media/menu_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    box-shadow: rgb(185, 185, 185) 0 0 15px;
}

.inner-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 50%;
    width: 53%;
    color: black;
    background-color: rgba(233, 231, 231, 0.89); /* Black w/opacity/see-through */
    box-shadow: rgb(128, 128, 128) 0 0 15px;
}

.yellow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 164, 59, 1);
    height: 10%;
    width: 30%;
    color: white;
    font-size: 1rem;
    border: 0;
}

.yellow-box:hover {
    background-color: rgb(221, 179, 72);
}

.products-background {
    height: 800px;
}

.products {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.products p {
    color: rgba(94, 110, 137, 1);
}

